[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
tensorflow-probability-gpu = "*"
tensorflow-gpu = "==1.10.0"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.5"
